/* 波浪动画效果 */
@-webkit-keyframes wave {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0, -5%, 0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0, -5%, 0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0, -5%, 0) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0, -5%, 0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0, -5%, 0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0, -5%, 0) rotateZ(-360deg);
    }
}
@-moz-keyframes wave {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0, -5%, 0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0, -5%, 0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0, -5%, 0) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0, -5%, 0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0, -5%, 0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0, -5%, 0) rotateZ(-360deg);
    }
}
@-ms-keyframes wave {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0, -5%, 0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0, -5%, 0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0, -5%, 0) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0, -5%, 0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0, -5%, 0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0, -5%, 0) rotateZ(-360deg);
    }
}
@keyframes wave {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0, -5%, 0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0, -5%, 0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0, -5%, 0) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0, -5%, 0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0, -5%, 0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0, -5%, 0) rotateZ(-360deg);
    }
}